<ul class="tracks">
{{#each tracks}}
    <li class="tracks__item" title="{{artist}} - {{title}}" src="{{src}}">
        <div class="tracks__item-name">{{artist}} - {{title}}</div>
        <div class="tracks__item-time">{{time}}</div>
    </li>
{{/each}}
</ul>
