<div class="tracks">
{{#each tracks}}
    <div class="tracks__item" data-name="{{artist}} - {{title}}" data-src="{{src}}">
        <div class="tracks__item-name">{{artist}} - {{title}}</div>
        <div class="tracks__item-time">{{time}}</div>
    </div>
{{/each}}
</div>
